/* lista */
.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px
}

/* item da lista */
.listItem {
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

/* nomes e lingaugem na lista */
.itemName b,
.itemLanguage b {
    margin-right: 8px;
}

/* Link na lista */
.itemLink a {
    display: block;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;

}
