/* lista */
.list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    width: 100%;
}

/* item da lista */
.listItem {
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.listItem:hover {
    transform: scale(1.02);
  }

/* nomes e lingaugem na lista */
.itemName b,
.itemLanguage b {
    margin-right: 8px;
}

/* Link na lista */
.itemLink a {
    display: block;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
}

/* Responsividade */
@media (max-width: 820px) {
    .list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 600px) {
    .list {
        grid-template-columns: 1fr;
    }
}